.appShell {
  height: 100%;
}

.appContent {
  padding: 18px 32px 32px;
}

@media (max-width: 992px) {
  .appShell {
    flex-direction: column;
  }

  .appContent {
    padding: 12px 20px 20px;
  }
}
